@{
    ViewBag.Title = "Home Page";

}

    <div class="row" style="padding-top : 20px">
        <div class="col-lg-4">
            <img src="https://www.netinnederland.nl/.imaging/stk/npo/opengraph/dam/3voor12/nieuws/redactie/2011/December/45432993/jcr:content/45432993.jpeg" height="400" width="350" />
        </div>
        <div class="col-lg-pull-2">
            <div class="text-primary">
                <h1>Top 2000</h1>

                <p>
                    De Top 2000 is een jaarlijks radioprogramma van het Nederlandse radiostation NPO Radio 2.
                    Hierin worden de bij stemming 2000 populairst bevonden muzieknummers achter elkaar gedraaid.
                </p>
                <p>

                    Jaarlijks kan in de eerste week van december, de Top 2000 Stemweek dus vanaf 1 december, op deze lijst worden gestemd.
                    Diverse DJ's van NPO Radio 2 zenden dan uit vanuit de Top 2000 stembus en doen diverse locaties aan door heel Nederland.
                    Luisteraars kunnen dan tevens hun stemlijst indienen.
                </p>
                <p>
                    De Top 2000 wordt sinds 1999 tijdens de laatste dagen van elk kalenderjaar uitgezonden.
                    De eerste editie werd een groot succes. De zender, toen nog Radio 2 geheten, besloot hierop het programma voortaan jaarlijks te herhalen.
                    In de jaren na 1999 begon men gebruik te maken van een steeds uitgebreidere keuzelijst en kon er gestemd worden via internet, waarbij meestal van
                    de keuzelijst kon worden afgeweken. De Top 2000 werd met afstand het best beluisterde radioprogramma van Nederland. De uitzending begint op eerste
                    kerstdag en gaat non-stop door tot middernacht oudejaarsavond. De uitzending wordt alleen onderbroken door reclame en de reguliere nieuwsberichten.
                </p>
            </div>
        </div>
        </div>
